<header>
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter">
                <div class="header-box">
                    <a class="mobile-nav-icon">
                        <svg id="icon-menu" class="icon">
                          <use xlink:href="/assets/icons/sprite.svg#icon-menu"></use>
                  </svg>
                    </a>
                    <div class="logo-container">
                        <img src="/assets/logo-ex.png" alt="Ejemplo de logo">
                    </div>
                    <div class="menu-social">
                        <nav>
                            <ul>
                                <li><a href="#">Recetas</a></li>
                                <li><a href="#">Acerca de</a></li>
                            </ul>
                        </nav>
                        <app-social-icons>
                        </app-social-icons>
                    </div>
                </div>
                <div class="search-bar">
                    <h4>¿Qué quieres cocinar hoy?</h4>
                    <div class="input-search">
                        <input type="text" placeholder="Buscar">
                        <svg id="icon-search" class="icon">
                          <use xlink:href="/assets/icons/sprite.svg#icon-search"></use>
                  </svg>
                    </div>
                    <h5>Recetas de comida mexicana</h5>
                </div>

            </div>
            <video preload loop autoplay>
                <source src="/assets/background/Cut-n-Paste.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/assets/background/Cut-n-Paste.webm"type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="filter-bg">
            </div>
        </div>
    </div>
</header>