<ul class="navigation-box">
    <li>
        <a target="_blank" href="http://www.youtube.com/">
            <svg id="youtube" class="social__icon">
          <use xlink:href="/assets/icons/sprite.svg#icon-youtube"></use>
      </svg>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.google.com/">
            <svg id="google+" class="social__icon">
          <use xlink:href="/assets/icons/sprite.svg#icon-google-plus"></use>
      </svg>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.facebook.com/">
            <svg id="facebook" class="social__icon">
          <use xlink:href="/assets/icons/sprite.svg#icon-facebook"></use>
      </svg>
        </a>
    </li>
</ul>